/* color palette from <https://github.com/vuejs/theme> */
:root, :host > .datatable {
    --main-color: #e2007a;
    --main-color-darker: #9d0056;

    --line-light-1: #ddd;
    --line-dark-1: #333;

    --shade1-light: #f8f8f8;
    --shade1-dark: #1f1f1f;

    --shade1-light-opaque: rgba(248, 248, 248, .5);
    --shade1-dark-opaque: rgba(31, 31, 31, .5);

    --shade2-light: #eee;
    --shade2-dark: #282828;

    --shade3-light: #ddd;
    --shade3-dark: #444;

    --color-white: #ffffff;
    --color-black: #181818;
    --color-indigo: #2c3e50;
    --color-blue: #3875d7;

    --text-light-1: var(--color-indigo);
    --text-dark-1: var(--color-white);

    --text-light-2: #aaa;
    --text-dark-2: #666;

    --vt-c-text-light-1: var(--color-indigo);

    --border-radius: 4px;

    --color-scheme-transition-speed: .5s;
}

/* semantic color variables for this project */
:root, :host > .datatable {
    --color-background: var(--color-white);
    --color-background-shade1: var(--shade1-light);
    --color-background-shade1-opaque: var(--shade1-light-opaque);
    --color-background-shade2: var(--shade2-light);
    --color-background-shade3: var(--shade3-light);
    --color-border: var(--line-light-1);
    --color-text: var(--text-light-1);
    --color-text-gray: var(--text-light-2);
    --color-line: var(--line-light-1);
    --color-text-in-main-bg: var(--color-white);
    --color-action: var(--color-blue);
}

/* change variables for dark mode */
body.darkmode, :host > .datatable.darkmode {
    --color-background: var(--color-black);
    --color-background-shade1: var(--shade1-dark);
    --color-background-shade1-opaque: var(--shade1-dark-opaque);
    --color-background-shade2: var(--shade2-dark);
    --color-background-shade3: var(--shade3-dark);
    --color-border: var(--line-dark-1);
    --color-text: var(--text-dark-1);
    --color-text-gray: var(--text-dark-2);
    --color-line: var(--line-dark-1);
    --color-text-in-main-bg: var(--color-white);
}

/* override vendor variables */
#app, :host > .datatable {
    --fk-color-input: var(--color-text);
    --fk-bg-submit: var(--main-color);
    --fk-bg-submit-hover: var(--main-color-darker);
    --fk-color-checked: var(--main-color);
    --fk-border-box-shadow-decorator-checked: 0 0 0 1px var(--main-color);
    --fk-border-box-shadow: 0 0 0 1px var(--color-border);
}

#app, :host > .datatable {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    margin: 0;
}

body, :host > .datatable{
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.transition {
        transition: color var(--color-scheme-transition-speed), background-color var(--color-scheme-transition-speed);

        .btn{
            transition: border-color var(--color-scheme-transition-speed),
            background-color var(--color-scheme-transition-speed), color var(--color-scheme-transition-speed);
        }
    }

    a {
        color: var(--main-color);
        text-decoration: none;
    }

    .btn:hover, a:hover {
        color: var(--main-color-darker);
    }

    .btn {
        padding: 10px 15px;
        line-height: 13px;
        border: 1px solid var(--color-line);
        color: var(--color-text);
        border-radius: var(--border-radius);
        display: inline-block;
        cursor: pointer;
    }

    *, *::before, *::after {
        box-sizing: border-box;
        font-weight: normal;
    }

    .v-card-title{
        padding: 24px;

        &:has(+ .v-tabs){
            padding-top: 19px;
            padding-bottom: 19px;
        }
    }
}

body.darkmode, .datatable.darkmode {
    .v-field__input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 100px #333326 inset;
        -webkit-text-fill-color: white;
    }
}

.fatal-error, .main-loader{
    padding: 40px 20px;
    text-align: center;
    color: var(--color-text-gray);
    font-size: 20px;
}

.main-loader :deep(svg){
    width: 30px;
}

.main-loader svg{
    width: 30px;
}

$spaceLogoMenu: 50px;
$spaceExtraTab: 12px; // tab is 12px higher than button

$closeButtonSize: 30px;
$tableRowTopPadding: 8px;

$tableRowHeight: 40px;