.datatable.pages{
    [data-column="name"]{
        padding-top: 4px;
        padding-bottom: 4px;

        .name{
            border: 1px solid var(--color-background-shade3);
            width: 200px;
            border-radius: var(--border-radius);
            display: block;
            padding: 2px 10px 4px;
            cursor: move;
            background-color: var(--color-background-shade1);

            .icon{
                display: block;
                fill: var(--color-text);
                float: left;
                margin-right: 5px;

                :deep(svg) {
                    height: 20px;
                    width: 20px;
                    position: relative;
                }
            }

            .icon--lock:deep(svg){
                width: 16px;
                height: 22px;
                top: 1px;
                margin-left: -1px;
            }
        }
    }
}